{{ attach_library('search_autocomplete/search-autocomplete') }}
<div id="sa-container">
    <form>
        <input data="{{ path('search_autocomplete.save', {}) }}" type="text" id="sa-title" placeholder="Titre du film" autocomplete="off"/>
    </form>
    <div id="sa-results"></div>
</div>
