#quizz-pseudo {
  text-align:center;
}

.text-entry 
{
  color: #fff;
  padding: 5px 14px;
  background-color: #2b303b;
  border: 1px solid #ccc;
  border-radius: 15px;
  outline: none;
}
a.text-entry:visited,
a.text-entry  {
  color:#fff;
}

a.text-entry.selected,
a.text-entry:hover  {
  color:#fff;
  background-color:#606060;
}

.text-entry.quizz-answers{
  display:block;
  width:100%;
  text-align:center;
}
#quizz-step ul {
  margin:0;
}
#quizz-step ul li{
  list-style-type:none;
  margin-top: 20px;
  width:100%;
}

#quizz-step #quizz-valid-step{
  float:right;
  margin-top:20px;
  padding: 5px 20px;
}

i.fa.fa-spinner.fa-spin {
  display:none;
  margin-left: -12px;
  margin-right: 8px;
}

 #quizz-picture{
   text-align:center;
 }

 #block-films-content #quizz-picture img {
   margin-top:0;
   max-height: 500px;
 }

 #quizz-question,
 #quizz-progress-information {
  margin-bottom: 20px;
 }

 #quizz-question{
  text-align: center;
  color:white;
  font-size: 18px;
 }

 #quizz-progress-information progress{
   border:none;
   width:100%;
   border: 1px solid #2b303b
 }

 #quizz-progress-information progress::-webkit-progress-bar {background-color: #606060; width: 100%;}
 #quizz-progress-information progress {background-color: #606060;}

 #quizz-progress-information progress::-webkit-progress-value {background-color: #f4473a !important;border-radius: 15px;}
 #quizz-progress-information progress::-moz-progress-bar {background-color: #f4473a !important;border-radius: 15px;}
 #quizz-progress-information progress {color: #f4473a;border-radius: 15px;}
