<form method="POST" action="{{ path('quizz.pseudo.save') }}">
    <label for="pseudo">Pseudo</label>
    <input type="text" id="pseudo" name="quizz[pseudo]"/>
    <input type="submit" value="Submit" />
</form>