{{ attach_library('video_preload/video-preload') }}
<div id="video-preload-container">
    <a class="text-entry" href="#" id="video-continue">Jouer à l'endroit où je me suis arrêté</a>
    <a class="text-entry" href="#" id="video-reset">Jouer depuis le début</a>
</div>
